n8n-workflows/generacion-reporte.json
{
  "name": "generacion-reporte",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [60, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3001/api/trpc/reports.list?batch=1",
        "contentType": "application/json",
        "jsonParameters": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "0",
              "value": "={\"json\": {}}"
            }
          ]
        }
      },
      "name": "Get Report Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "dataPropertyName": "data",
        "templateFields": {
          "fields": [
            {
              "name": "title",
              "value": "Reporte Mensual"
            },
            {
              "name": "date",
              "value": "={{$now.toLocaleDateString()}}"
            },
            {
              "name": "html",
              "value": "=<html><body><h1>Reporte Mensual</h1><p>Fecha: {{$now.toLocaleDateString()}}</p><p>Total registros: {{$json[\"result\"]?.data?.length || 0}}</p></body></html>"
            }
          ]
        }
      },
      "name": "Format Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "htmlToPdf",
        "html": "={{$node[\"Format Report\"].json.html}}",
        "fileName": "reporte_{{$now.toLocaleDateString()}}.pdf"
      },
      "name": "Generate PDF",
      "type": "n8n-nodes-base.pdf",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Get Report Data", "branch": 0, "type": "main", "index": 0}]]
    },
    "Get Report Data": {
      "main": [[{"node": "Format Report", "branch": 0, "type": "main", "index": 0}]]
    },
    "Format Report": {
      "main": [[{"node": "Generate PDF", "branch": 0, "type": "main", "index": 0}]]
    }
  }
}
