n8n-workflows/ingesta-clima.json
{
  "name": "ingesta-clima",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [60, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "Cali,CO"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "appid",
              "value": "={{$env.OPENWEATHER_API_KEY}}"
            }
          ]
        }
      },
      "name": "Fetch Climate Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3001/webhooks/climate",
        "contentType": "application/json",
        "jsonParameters": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "temperature",
              "value": "={{$node[\"Fetch Climate Data\"].json.main.temp}}"
            },
            {
              "name": "humidity",
              "value": "={{$node[\"Fetch Climate Data\"].json.main.humidity}}"
            },
            {
              "name": "precipitation",
              "value": "={{$node[\"Fetch Climate Data\"].json.rain?.[\"1h\"] || 0}}"
            },
            {
              "name": "windSpeed",
              "value": "={{$node[\"Fetch Climate Data\"].json.wind?.speed || 0}}"
            }
          ]
        }
      },
      "name": "Send to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Fetch Climate Data", "branch": 0, "type": "main", "index": 0}]]
    },
    "Fetch Climate Data": {
      "main": [[{"node": "Send to Backend", "branch": 0, "type": "main", "index": 0}]]
    }
  }
}
