n8n-workflows/prediccion-rendimiento.json
{
  "name": "prediccion-rendimiento",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [60, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "plotId",
              "value": "plot-demo"
            }
          ],
          "number": [
            {
              "name": "temperature",
              "value": 24
            },
            {
              "name": "humidity",
              "value": 65
            }
          ]
        }
      },
      "name": "Input Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ml-service:8000/predict",
        "sendData": "body",
        "contentType": "application/json",
        "jsonParameters": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "plot_id",
              "value": "={{$node[\"Input Data\"].json.plotId}}"
            },
            {
              "name": "temperature",
              "value": "={{$node[\"Input Data\"].json.temperature}}"
            },
            {
              "name": "humidity",
              "value": "={{$node[\"Input Data\"].json.humidity}}"
            }
          ]
        }
      },
      "name": "Call ML Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3001/api/trpc/predictions.create?batch=1",
        "contentType": "application/json",
        "jsonParameters": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "0",
              "value": "={\"json\": {\"plotId\": \"{{$node[\\\"Call ML Service\\\"].json.plot_id}}\", \"cropYield\": {{$node[\\\"Call ML Service\\\"].json.prediction}}, \"confidence\": {{$node[\\\"Call ML Service\\\"].json.confidence}}}}"
            }
          ]
        }
      },
      "name": "Save Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Input Data", "branch": 0, "type": "main", "index": 0}]]
    },
    "Input Data": {
      "main": [[{"node": "Call ML Service", "branch": 0, "type": "main", "index": 0}]]
    },
    "Call ML Service": {
      "main": [[{"node": "Save Prediction", "branch": 0, "type": "main", "index": 0}]]
    }
  }
}
